# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

#Debug directories
bin/
obj/

#Compiled files
*.d
*.o
*.eep
*.elf
*.hex
*.lss
*.map
*.srec
*/desktop.ini

#vs non-source folders
publish/
.vs/
packages/

#config files
*.suo
*.csproj.user
/ImageDatabase/ImageDatabase.dbmdl
/ImageDatabase/ImageDatabase.jfm
/ImageDatabase/ImageDatabase.refactorlog
